<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="SmartWorking_CustomOrderProcessing::orderlog" title="Smart Working" module="SmartWorking_CustomOrderProcessing" sortOrder="10" resource="SmartWorking_CustomOrderProcessing::orderprocessinglog"/>
		<add id="SmartWorking_CustomOrderProcessing::order_processing_log" title="Order Status Log" module="SmartWorking_CustomOrderProcessing" sortOrder="20" resource="SmartWorking_CustomOrderProcessing::orderprocessinglog" parent="SmartWorking_CustomOrderProcessing::orderlog" action="orderprocessinglog/orderlog/index"/>
	</menu>
</config>

